body {
	background-color: #2a2a2e;
    color: white;
    font-family: 'open_sans', Helvetica, 'Helvetica Neue', 'Roboto', Arial, sans-serif;
}
text {
    color: white;
    font-family: 'open_sans', Helvetica, 'Helvetica Neue', 'Roboto', Arial, sans-serif;
}
h1 {
	color: white;
	font-family: 'bebas_neueregular', Arial, sans-serif;
	font-size: 72px;
    text-align: center;
}
h2 {
	color: white;
	font-family: 'bebas_neueregular', Arial, sans-serif;
	font-size: 48px;
    text-align: center;
}
h3 {
	color: white;
	font-family: 'open_sans', Helvetica, 'Helvetica Neue', 'Roboto', Arial, sans-serif;
	font-size: 32px;
    text-align: center;
}
p {
	color: white;
	font-family: 'open_sans', Helvetica, 'Helvetica Neue', 'Roboto', Arial, sans-serif;
	font-size: 24px;
}
a {
    color: white;
}

.media_container{
    text-align: center;
}
.hyperlink{
    text-decoration: none;
}
.hyperlink:hover{
    color: lightskyblue;
}
.bodytext{
    margin-left: 200px;
    margin-right: 200px;
}
.paragraph_center{
    text-align: center;
}



@font-face {
    font-family: 'open_sans';
    src: url('fonts/opensans-variablefont_wdthwght-webfont.woff2') format('woff2'),
         url('fonts/opensans-variablefont_wdthwght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sans';
    src: url('fonts/opensans-italic-variablefont_wdthwght-webfont.woff2') format('woff2'),
         url('fonts/opensans-italic-variablefont_wdthwght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: oblique;

}

@font-face {
    font-family: 'bebas_neueregular';
    src: url('fonts/bebasneue-regular-webfont.woff2') format('woff2'),
         url('fonts/bebasneue-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

