body {
	background-color: #2a2a2e;
    color: white;
    font-family: 'open_sans', Helvetica, 'Helvetica Neue', 'Roboto', Arial, sans-serif;
		font-size: 16px;
}
text {
    color: white;
    font-family: 'open_sans', Helvetica, 'Helvetica Neue', 'Roboto', Arial, sans-serif;
}
h1 {
	color: white;
	font-family: 'Comfortaa', Arial, sans-serif;
	font-size: 72px;
  text-align: center;
  font-weight: 300;
}
h2 {
	color: white;
	font-family: 'Comfortaa', Arial, sans-serif;
	font-size: 48px;
  text-align: center;
  font-weight: 300;
	margin: auto;
}
h3 {
	color: white;
	font-family: 'Roboto', 'open_sans', Helvetica, 'Helvetica Neue', Arial, sans-serif;
	font-size: 36px;
	font-weight: 400;
  text-align: center;
}
p {
	color: white;
	font-family: 'open_sans', Helvetica, 'Helvetica Neue', 'Roboto', Arial, sans-serif;
	font-size: 24px;
}
a {
    color: white;
}
header {
    position: absolute;
    top: 10px;
    width: 480px;
}

.media_container {
    text-align: center;
}
.hyperlink {
    text-decoration: none;
		margin: auto;
}
.hyperlink:hover {
    color: lightskyblue;
}
.bodytext {
    margin-left: 6vw;
    margin-right: 6vw;
}
.paragraph_center {
    text-align: center;
}
.copyright {
    font-size: 15px;
    position: fixed;
    bottom: 0;
    border-color: #2e2e2e;
    border: 1px;
    border-style:ridge;
    border-radius: 2px;
		font-family: Verdana, Arial, sans-serif;
}
.center_links {
	margin: 0 auto;
	display: table;
	text-align: center;
}
.center_links_projects {
	margin-top: 50px;
}


@font-face {
    font-family: 'open_sans';
    src: url('fonts/opensans-variablefont_wdthwght-webfont.woff2') format('woff2'),
         url('fonts/opensans-variablefont_wdthwght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sans';
    src: url('fonts/opensans-italic-variablefont_wdthwght-webfont.woff2') format('woff2'),
         url('fonts/opensans-italic-variablefont_wdthwght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: oblique;

}

@font-face {
    font-family: 'bebas_neueregular';
    src: url('fonts/bebasneue-regular-webfont.woff2') format('woff2'),
         url('fonts/bebasneue-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Comfortaa';
    src: url('fonts/Comfortaa-Regular.woff2') format('woff2'),
         url('fonts/Comfortaa-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Comfortaa';
    src: url('fonts/Comfortaa-Light.woff2') format('woff2'),
         url('fonts/Comfortaa-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url('fonts/Roboto.ttf');
	font-weight: 400;
	font-style: normal;
}
