body {
	background-color: #2a2a2e;
}
h1 {
	color: white;
	font-family: bebas_neueregular;
	font-size: 72px
}
h2 {
	color: white;
	font-family: bebas_neueregular;
	font-size: 48px
}
h3 {
	color: white;
	font-family: open_sansregular;
	font-size: 32px
}
p {
	color: white;
	font-family: open_sansregular;
	font-size: 24px
}




@font-face {
    font-family: 'open_sansregular';
    src: url('fonts/opensans-variablefont_wdthwght-webfont.woff2') format('woff2'),
         url('fonts/opensans-variablefont_wdthwght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'open_sansitalic';
    src: url('fonts/opensans-italic-variablefont_wdthwght-webfont.woff2') format('woff2'),
         url('fonts/opensans-italic-variablefont_wdthwght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'bebas_neueregular';
    src: url('fonts/bebasneue-regular-webfont.woff2') format('woff2'),
         url('fonts/bebasneue-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
