body {
	background-color: #2a2a2e;
}
h1 {
	color: white;
	font-family: Bebas Neue;
	font-size: 56px
}
h2 {
	color: white;
	font-family: Bebas Neue;
}
h3 {
	color: white;
	font-family: Arial;
}
p {
	color: white;
	font-family: Open Sans;
	font-size: 28px
}
@font-face {
	font-family: Open Sans;
	src: url("../liamtheliam.git.hub.io/files/fonts/Open_Sans/OpenSans-VariableFont_wdth,wght.ttf") format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: Open Sans;
	src: url("../liamtheliam.git.hub.io/files/fonts/Open_Sans/OpenSans-Italic-VariableFont_wdth,wght.ttf") format('truetype');
	font-weight: normal;
	font-style: italic;
}
@font-face {
	font-family: Bebas Neue;
	src: url("../liamtheliam.git.hub.io/files/fonts/Bebas_Neue/BebasNeue-Regular.ttf") format('truetype');
	font-weight: normal;
	font-style: normal;
}